.timer {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 15px 30px;	
	flex-direction: row;
	cursor: pointer;
}

.circle-with-shadow {
	position: absolute;
	z-index: 0;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background-color: #262830;
	box-shadow: 0 0 10px 10px #C3D3B0;
}

.progress-bar {
	background-color: transparent;
	z-index: 1;
}

.circle-arround-img {
border-radius: 50%;
height: 100px;
width: 100px;
background-color: #FADC3E;
position: absolute;
z-index: 3;
}

.img-rounded {
border-radius: 50%;
height: 90px;
width: 90px;
position: absolute;
z-index: 4;
}

.back {
	display: block;
	border-radius: 50%;
	text-align: center;	
	width: 90px;
	height: 90px;
	background-color: #000;
	font-size: 60px;
	position: absolute;
	color: #fff;
	opacity: 0.7;
	z-index: 0;
	}

	.fa-pen:before {
		display: block;
		margin-top: 10px;
	}

	.timer:hover .back{
		z-index: 10;
	}

.global-timer .circle-with-shadow {
	box-shadow: 0 0 10px 10px #FFD1AB;
}
